Code-1/CSC/CSC/CCODundeeApplication/Service References/PreferenceServices/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Tesco.com.ClubcardOnline.Entities" />
  <xs:element name="ViewCustomerPreference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:long" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tesco.com.ClubcardOnline.Entities" minOccurs="0" name="PreferenceType" type="q1:PreferenceType" />
        <xs:element minOccurs="0" name="optionalPreference" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewCustomerPreferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tesco.com.ClubcardOnline.Entities" minOccurs="0" name="ViewCustomerPreferenceResult" nillable="true" type="q2:CustomerPreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewClubDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewClubDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tesco.com.ClubcardOnline.Entities" minOccurs="0" name="ViewClubDetailsResult" nillable="true" type="q3:ClubDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaintainCustomerPreference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:long" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tesco.com.ClubcardOnline.Entities" minOccurs="0" name="customerPreference" nillable="true" type="q4:CustomerPreference" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tesco.com.ClubcardOnline.Entities" minOccurs="0" name="customerDetails" nillable="true" type="q5:CustomerDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaintainCustomerPreferenceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MaintainClubDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:long" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tesco.com.ClubcardOnline.Entities" minOccurs="0" name="cluDetails" nillable="true" type="q6:ClubDetails" />
        <xs:element minOccurs="0" name="sEmailDTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaintainClubDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailToCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Tesco.com.ClubcardOnline.Entities" minOccurs="0" name="CustomerPreference" nillable="true" type="q7:CustomerPreference" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Tesco.com.ClubcardOnline.Entities" minOccurs="0" name="customerDetails" nillable="true" type="q8:CustomerDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailToCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailToCustomersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>