Code-1/CSC/CSC/CCODundeeApplication/Service References/PreferenceServices/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="PreferenceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPreferenceService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Tesco.com.ClubcardOnline.Entities" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPreferenceService_ViewCustomerPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewCustomerPreference" />
  </wsdl:message>
  <wsdl:message name="IPreferenceService_ViewCustomerPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewCustomerPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IPreferenceService_ViewClubDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewClubDetails" />
  </wsdl:message>
  <wsdl:message name="IPreferenceService_ViewClubDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewClubDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IPreferenceService_MaintainCustomerPreference_InputMessage">
    <wsdl:part name="parameters" element="tns:MaintainCustomerPreference" />
  </wsdl:message>
  <wsdl:message name="IPreferenceService_MaintainCustomerPreference_OutputMessage">
    <wsdl:part name="parameters" element="tns:MaintainCustomerPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IPreferenceService_MaintainClubDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:MaintainClubDetails" />
  </wsdl:message>
  <wsdl:message name="IPreferenceService_MaintainClubDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:MaintainClubDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IPreferenceService_SendEmailToCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailToCustomers" />
  </wsdl:message>
  <wsdl:message name="IPreferenceService_SendEmailToCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailToCustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="IPreferenceService">
    <wsdl:operation name="ViewCustomerPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreferenceService/ViewCustomerPreference" message="tns:IPreferenceService_ViewCustomerPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreferenceService/ViewCustomerPreferenceResponse" message="tns:IPreferenceService_ViewCustomerPreference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewClubDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreferenceService/ViewClubDetails" message="tns:IPreferenceService_ViewClubDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreferenceService/ViewClubDetailsResponse" message="tns:IPreferenceService_ViewClubDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MaintainCustomerPreference">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreferenceService/MaintainCustomerPreference" message="tns:IPreferenceService_MaintainCustomerPreference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreferenceService/MaintainCustomerPreferenceResponse" message="tns:IPreferenceService_MaintainCustomerPreference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MaintainClubDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreferenceService/MaintainClubDetails" message="tns:IPreferenceService_MaintainClubDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreferenceService/MaintainClubDetailsResponse" message="tns:IPreferenceService_MaintainClubDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailToCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreferenceService/SendEmailToCustomers" message="tns:IPreferenceService_SendEmailToCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreferenceService/SendEmailToCustomersResponse" message="tns:IPreferenceService_SendEmailToCustomers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPreferenceService" type="tns:IPreferenceService">
    <wsp:PolicyReference URI="#WSHttpBinding_IPreferenceService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ViewCustomerPreference">
      <soap12:operation soapAction="http://tempuri.org/IPreferenceService/ViewCustomerPreference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewClubDetails">
      <soap12:operation soapAction="http://tempuri.org/IPreferenceService/ViewClubDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaintainCustomerPreference">
      <soap12:operation soapAction="http://tempuri.org/IPreferenceService/MaintainCustomerPreference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaintainClubDetails">
      <soap12:operation soapAction="http://tempuri.org/IPreferenceService/MaintainClubDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailToCustomers">
      <soap12:operation soapAction="http://tempuri.org/IPreferenceService/SendEmailToCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PreferenceService">
    <wsdl:port name="WSHttpBinding_IPreferenceService" binding="tns:WSHttpBinding_IPreferenceService">
      <soap12:address location="http://172.21.149.229/Preferences/PreferenceService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://172.21.149.229/Preferences/PreferenceService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>