Code-1/MCA/Source/LoginIntegration/LoginIntegration/LoginIntegration/Service References/CustomerIdentityService/DecryptCookieService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tesco.com.NGCDecodeCookieService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tesco.com.NGCDecodeCookieService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="DecodedValue" nillable="true" type="xs:string" />
      <xs:element name="Encodedvalue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerIdentity" nillable="true" type="tns:CustomerIdentity" />
</xs:schema>