Code-2/PrintVoucherCouponKiosk/UI/PrintVouchersAtKiosk/Service References/BigExchange/ClubcardReward4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.21.110.27/BigExchange.Service/ClubcardReward.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BigExchange" />
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="GetProductsResult" nillable="true" type="q1:ProductCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q2:CategoryCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryIncludes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryIncludesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="GetCategoryIncludesResult" nillable="true" type="q3:CategoryIncludesCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintReasons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintReasonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="GetPrintReasonsResult" nillable="true" type="q4:PrintReasonCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateVouchers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="voucherColl" nillable="true" type="q5:VoucherCollection" />
        <xs:element minOccurs="0" name="clubcard" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateVouchersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="ValidateVouchersResult" nillable="true" type="q6:VoucherCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingData" nillable="true" type="q7:Booking" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="ProcessBookingResult" nillable="true" type="q8:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToBookingError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingData" nillable="true" type="q9:Booking" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToBookingErrorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToTraining">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeId" type="xs:int" />
        <xs:element minOccurs="0" name="tillId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="bookingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToTrainingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsForClubcard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clubcard" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsForClubcardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="GetBookingsForClubcardResult" nillable="true" type="q10:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReprintTillTokenScript">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingData" nillable="true" type="q11:Booking" />
        <xs:element minOccurs="0" name="bookingId" type="xs:int" />
        <xs:element minOccurs="0" name="reprintReason" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReprintTillTokenScriptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReprintTillTokenScriptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTillTokenScript">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingData" nillable="true" type="q12:Booking" />
        <xs:element minOccurs="0" name="reprintReason" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTillTokenScriptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTillTokenScriptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KioskEntryPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KioskEntryPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KioskEntryPageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintVoucherKioskEntryPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintVoucherKioskEntryPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintVoucherKioskEntryPageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessVoucherBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingPrintVoucher" nillable="true" type="q13:BookingPrintVoucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessVoucherBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="ProcessVoucherBookingResult" nillable="true" type="q14:BookingPrintVoucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnusedVoucherDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clubcard" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnusedVoucherDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="GetUnusedVoucherDetailsResult" nillable="true" type="q15:UnusedVoucherCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logging">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingPrintVoucher" nillable="true" type="q16:BookingPrintVoucher" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="loggingOperations" type="q17:LoggingOperations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoggingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>