Code-2/PrintVoucherCouponKiosk/UI/PrintVouchersAtKiosk/Service References/BigExchange/ClubcardReward32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.88.248/BigExchage.Service/ClubcardReward.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BigExchange" />
  <xs:element name="GetProducts1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="GetProducts1Result" nillable="true" type="q1:ProductCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="GetProductsResult" nillable="true" type="q2:ProductCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q3:CategoryCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryIncludes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryIncludesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="GetCategoryIncludesResult" nillable="true" type="q4:CategoryIncludesCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintReasons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintReasonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="GetPrintReasonsResult" nillable="true" type="q5:PrintReasonCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateVouchers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="voucherColl" nillable="true" type="q6:VoucherCollection" />
        <xs:element minOccurs="0" name="clubcard" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateVouchersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="ValidateVouchersResult" nillable="true" type="q7:VoucherCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingData" nillable="true" type="q8:Booking" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="ProcessBookingResult" nillable="true" type="q9:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToBookingError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingData" nillable="true" type="q10:Booking" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToBookingErrorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToTraining">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeId" type="xs:int" />
        <xs:element minOccurs="0" name="tillId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="bookingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToTrainingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsForClubcard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clubcard" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsForClubcardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="GetBookingsForClubcardResult" nillable="true" type="q11:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReprintTillTokenScript">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingData" nillable="true" type="q12:Booking" />
        <xs:element minOccurs="0" name="bookingId" type="xs:int" />
        <xs:element minOccurs="0" name="reprintReason" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReprintTillTokenScriptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReprintTillTokenScriptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTillTokenScript">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingData" nillable="true" type="q13:Booking" />
        <xs:element minOccurs="0" name="reprintReason" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTillTokenScriptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTillTokenScriptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KioskEntryPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KioskEntryPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KioskEntryPageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToTransError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingPrintVoucher" nillable="true" type="q14:BookingPrintVoucher" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToTransErrorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToBookingTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingPrintVoucher" nillable="true" type="q15:BookingPrintVoucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToBookingTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveToBookingTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessVoucherBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingPrintVoucher" nillable="true" type="q16:BookingPrintVoucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessVoucherBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="ProcessVoucherBookingResult" nillable="true" type="q17:BookingPrintVoucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTranDetailsActiveVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingPrintVoucher" nillable="true" type="q18:BookingPrintVoucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTranDetailsActiveVoucherResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTranDetailsStatus1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingPrintVoucher" nillable="true" type="q19:BookingPrintVoucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTranDetailsStatus1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTranDetailsStatus1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTranDetailsVerifiedTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingPrintVoucher" nillable="true" type="q20:BookingPrintVoucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTranDetailsVerifiedTimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUnusedVouchers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BigExchange" minOccurs="0" name="bookingPrintVoucher" nillable="true" type="q21:BookingPrintVoucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUnusedVouchersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintVoucherKioskEntryPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintVoucherKioskEntryPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintVoucherKioskEntryPageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>