Code-2/PrintVoucherCouponKiosk/UI/PrintVouchersAtKiosk/Service References/BigExchange/ClubcardReward3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BigExchange" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BigExchange" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.21.110.27/BigExchange.Service/ClubcardReward.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ProductCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductCollection" nillable="true" type="tns:ProductCollection" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPrice" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" type="tns:ProductType" />
      <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrippedDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenTermsAndConditions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenType" type="tns:TokenType" />
      <xs:element minOccurs="0" name="TokenValue" type="xs:int" />
      <xs:element minOccurs="0" name="UsedByDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidUntil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="TokenValue" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:simpleType name="ProductType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Instore">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DotCom">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Rewards">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProductType" nillable="true" type="tns:ProductType" />
  <xs:simpleType name="TokenType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Token">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Direct">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Online">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TokenType" nillable="true" type="tns:TokenType" />
  <xs:complexType name="CustomException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomException" nillable="true" type="tns:CustomException" />
  <xs:complexType name="CategoryCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryCollection" nillable="true" type="tns:CategoryCollection" />
  <xs:complexType name="CategoryIncludesCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryIncludes" nillable="true" type="tns:CategoryIncludes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryIncludesCollection" nillable="true" type="tns:CategoryIncludesCollection" />
  <xs:complexType name="CategoryIncludes">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Description1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryIncludes" nillable="true" type="tns:CategoryIncludes" />
  <xs:complexType name="PrintReasonCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrintReason" nillable="true" type="tns:PrintReason" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrintReasonCollection" nillable="true" type="tns:PrintReasonCollection" />
  <xs:complexType name="PrintReason">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Enabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrintReasonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrintReasonText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrintReason" nillable="true" type="tns:PrintReason" />
  <xs:complexType name="VoucherCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Voucher" nillable="true" type="tns:Voucher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoucherCollection" nillable="true" type="tns:VoucherCollection" />
  <xs:complexType name="Voucher">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alpha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clubcard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ean" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsUsed" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResponseClubcard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" type="tns:VoucherStatus" />
      <xs:element minOccurs="0" name="StoreNo" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="tns:VoucherTypes" />
      <xs:element minOccurs="0" name="UseDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
      <xs:element minOccurs="0" name="VirtualStore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Voucher" nillable="true" type="tns:Voucher" />
  <xs:simpleType name="VoucherStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active" />
      <xs:enumeration value="Reserved" />
      <xs:enumeration value="Redeemed" />
      <xs:enumeration value="RedeemedAlready">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Expired">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Suspended">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelled">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Reissued">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RolledOver">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProcessedOffline">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">100</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotChecked">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VoucherStatus" nillable="true" type="tns:VoucherStatus" />
  <xs:simpleType name="VoucherTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Tesco">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TPF">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">22</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XmasClub">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">33</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="StaffOffer">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Clubcard_ROI_Lo">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Clubcard_ROI_Hi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">51</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TPF_ROI_Lo">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">52</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TPF_ROI_Hi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">53</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XmasSaver_ROI_Lo">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">54</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XmasSaver_ROI_Hi">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">55</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VoucherTypes" nillable="true" type="tns:VoucherTypes" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingId" type="xs:int" />
      <xs:element minOccurs="0" name="BookingType" type="xs:int" />
      <xs:element minOccurs="0" name="Change" type="xs:int" />
      <xs:element minOccurs="0" name="Clubcard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorType" type="tns:ErrorTypes" />
      <xs:element minOccurs="0" name="PrintNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ProductLines" nillable="true" type="tns:ProductLineCollection" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ProductCollection" />
      <xs:element minOccurs="0" name="ReprintReason" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreId" type="xs:int" />
      <xs:element minOccurs="0" name="TillId" type="xs:int" />
      <xs:element minOccurs="0" name="TrainingMode" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Vouchers" nillable="true" type="tns:VoucherCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:simpleType name="ErrorTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoError" />
      <xs:enumeration value="CancelBooking" />
      <xs:enumeration value="CancelPayment" />
      <xs:enumeration value="CancelToken" />
      <xs:enumeration value="CreateTillCoupons" />
      <xs:enumeration value="CreateDotComToken" />
      <xs:enumeration value="CreateToken" />
      <xs:enumeration value="CreateTokenForClubcard" />
      <xs:enumeration value="HouseholdBlankResponse" />
      <xs:enumeration value="HouseholdCardNotFound" />
      <xs:enumeration value="HouseholdSkeleton" />
      <xs:enumeration value="HouseholdMissingVouchers" />
      <xs:enumeration value="InsertBooking" />
      <xs:enumeration value="InsertChangePayment" />
      <xs:enumeration value="InsertPrint" />
      <xs:enumeration value="InsertProductLine" />
      <xs:enumeration value="InsertVoucher" />
      <xs:enumeration value="InvalidPaymentResponse" />
      <xs:enumeration value="InvalidTokenResponse" />
      <xs:enumeration value="ProcessPayment" />
      <xs:enumeration value="UpdateBooking" />
      <xs:enumeration value="UpdateVoucher" />
      <xs:enumeration value="BookingProcessError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ErrorTypes" nillable="true" type="tns:ErrorTypes" />
  <xs:complexType name="ProductLineCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductLine" nillable="true" type="tns:ProductLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductLineCollection" nillable="true" type="tns:ProductLineCollection" />
  <xs:complexType name="ProductLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductLineId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Tokens" nillable="true" type="tns:TokenCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductLine" nillable="true" type="tns:ProductLine" />
  <xs:complexType name="TokenCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Token" nillable="true" type="tns:Token" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenCollection" nillable="true" type="tns:TokenCollection" />
  <xs:complexType name="Token">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alpha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductLineId" type="xs:int" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierTokenCodeId" type="xs:int" />
      <xs:element minOccurs="0" name="SupplyDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TokenId" type="xs:int" />
      <xs:element minOccurs="0" name="TokenValue" type="xs:int" />
      <xs:element minOccurs="0" name="UsedByDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VendorCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Token" nillable="true" type="tns:Token" />
  <xs:complexType name="ArrayOfBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking" nillable="true" type="tns:ArrayOfBooking" />
  <xs:complexType name="BookingPrintVoucher">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clubcard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KioskID" type="xs:int" />
      <xs:element minOccurs="0" name="KioskNo" type="xs:int" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrintDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="StatusLoginAttempts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreID" type="xs:int" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:int" />
      <xs:element minOccurs="0" name="UnusedVouchers" nillable="true" type="tns:UnusedVoucherCollection" />
      <xs:element minOccurs="0" name="totalActiveVouchers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingPrintVoucher" nillable="true" type="tns:BookingPrintVoucher" />
  <xs:complexType name="UnusedVoucherCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnusedVoucher" nillable="true" type="tns:UnusedVoucher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnusedVoucherCollection" nillable="true" type="tns:UnusedVoucherCollection" />
  <xs:complexType name="UnusedVoucher">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ean" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HouseholdId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnlineCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherType" type="xs:int" />
      <xs:element minOccurs="0" name="VoucherValue" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnusedVoucher" nillable="true" type="tns:UnusedVoucher" />
  <xs:simpleType name="LoggingOperations">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SaveToTransError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UpdateTranDetailsStatus">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UpdateTranDetailsVerifiedStartTime">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UpdateTranDetailsVerifiedTime">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InsertLoginAttempts">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UpdateTranDetailsActiveVoucher">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UpdateTranDetailsPrintDate">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SaveUnusedVouchers">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoggingOperations" nillable="true" type="tns:LoggingOperations" />
</xs:schema>