Code-3/TestAutomation/Source/Tesco.MCA.TestFrameworks/Tesco.Framework.UITesting.Services/Service References/SmartVoucherService/SmartVoucherServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tesco.com/clubcardonline/datacontract/2010/01" elementFormDefault="qualified" targetNamespace="http://tesco.com/clubcardonline/datacontract/2010/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pvuktstfeapp03.tst01.tesco.org/SmartVoucherUK/SmartVoucherServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tesco.com.IntegrationServices.Messages" />
  <xs:element name="GetRewardDtls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClubcardNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardDtlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tesco.com.IntegrationServices.Messages" minOccurs="0" name="GetRewardDtlsResult" nillable="true" type="q1:GetRewardDtlsRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnusedVoucherDtls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClubcardNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnusedVoucherDtlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tesco.com.IntegrationServices.Messages" minOccurs="0" name="GetUnusedVoucherDtlsResult" nillable="true" type="q2:GetUnusedVoucherDtlsRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsedVoucherDtls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClubcardNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsedVoucherDtlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tesco.com.IntegrationServices.Messages" minOccurs="0" name="GetUsedVoucherDtlsResult" nillable="true" type="q3:GetUsedVoucherDtlsRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucherValHH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Household_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CPStartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CPEndDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucherValHHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tesco.com.IntegrationServices.Messages" minOccurs="0" name="GetVoucherValHHResult" nillable="true" type="q4:GetVoucherValHHRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardDtlsMiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClubcardNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReasonCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardDtlsMilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tesco.com.IntegrationServices.Messages" minOccurs="0" name="GetRewardDtlsMilesResult" nillable="true" type="q5:GetRewardDtlsMilesRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucherValCPS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Clubcard_Number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CPStartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CPEndDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucherValCPSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tesco.com.IntegrationServices.Messages" minOccurs="0" name="GetVoucherValCPSResult" nillable="true" type="q6:GetVoucherValAllCPSRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>