Code-3/TestAutomation/Source/Tesco.MCA.TestFrameworks/Tesco.Framework.UITesting.Services/Service References/CustomerService/CustomerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tesco.com.ClubcardOnlineService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tesco.com.ClubcardOnlineService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pvuktstfeapp03.tst01.tesco.org/CCOServices/CustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Tesco.Marketing.IT.ClubcardCoupon.DataContract" />
  <xs:complexType name="CouponRequest">
    <xs:sequence>
      <xs:element name="DotComID" type="xs:long" />
      <xs:element minOccurs="0" name="Source" type="tns:ConsumerSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CouponRequest" nillable="true" type="tns:CouponRequest" />
  <xs:simpleType name="ConsumerSource">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Mobile" />
      <xs:enumeration value="Dotcom" />
      <xs:enumeration value="Kiosk" />
      <xs:enumeration value="MCA" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConsumerSource" nillable="true" type="tns:ConsumerSource" />
  <xs:complexType name="CouponResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveCoupon" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tesco.Marketing.IT.ClubcardCoupon.DataContract" minOccurs="0" name="Coupons" nillable="true" type="q1:ArrayOfCouponInformation" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseHolId" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="TotalCoupon" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CouponResponse" nillable="true" type="tns:CouponResponse" />
  <xs:complexType name="CustomerCouponRequest">
    <xs:sequence>
      <xs:element name="DotComID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" type="tns:ConsumerSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerCouponRequest" nillable="true" type="tns:CustomerCouponRequest" />
</xs:schema>