Code-1/CSC/CSC/CCODundeeApplication/Service References/ClubcardCouponServices/011.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tesco.com/clubcardonline/datacontract/2010/01" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://tesco.com/clubcardonline/datacontract/2010/01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tesco.com/clubcardonline/datacontract/2010/01/Imports">
      <xsd:import schemaLocation="" namespace="http://tesco.com/clubcardonline/datacontract/2010/01" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Tesco.Marketing.IT.ClubcardCoupon.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClubcardCouponService_GetAvailableCoupons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableCoupons" />
  </wsdl:message>
  <wsdl:message name="IClubcardCouponService_GetAvailableCoupons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableCouponsResponse" />
  </wsdl:message>
  <wsdl:message name="IClubcardCouponService_GetRedeemedCoupons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRedeemedCoupons" />
  </wsdl:message>
  <wsdl:message name="IClubcardCouponService_GetRedeemedCoupons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRedeemedCouponsResponse" />
  </wsdl:message>
  <wsdl:message name="IClubcardCouponService_GetCouponInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCouponInformation" />
  </wsdl:message>
  <wsdl:message name="IClubcardCouponService_GetCouponInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCouponInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IClubcardCouponService">
    <wsdl:operation name="GetAvailableCoupons">
      <wsdl:input wsaw:Action="http://tesco.com/clubcardonline/datacontract/2010/01/IClubcardCouponService/GetAvailableCoupons" message="tns:IClubcardCouponService_GetAvailableCoupons_InputMessage" />
      <wsdl:output wsaw:Action="http://tesco.com/clubcardonline/datacontract/2010/01/IClubcardCouponService/GetAvailableCouponsResponse" message="tns:IClubcardCouponService_GetAvailableCoupons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRedeemedCoupons">
      <wsdl:input wsaw:Action="http://tesco.com/clubcardonline/datacontract/2010/01/IClubcardCouponService/GetRedeemedCoupons" message="tns:IClubcardCouponService_GetRedeemedCoupons_InputMessage" />
      <wsdl:output wsaw:Action="http://tesco.com/clubcardonline/datacontract/2010/01/IClubcardCouponService/GetRedeemedCouponsResponse" message="tns:IClubcardCouponService_GetRedeemedCoupons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCouponInformation">
      <wsdl:input wsaw:Action="http://tesco.com/clubcardonline/datacontract/2010/01/IClubcardCouponService/GetCouponInformation" message="tns:IClubcardCouponService_GetCouponInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tesco.com/clubcardonline/datacontract/2010/01/IClubcardCouponService/GetCouponInformationResponse" message="tns:IClubcardCouponService_GetCouponInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>