DB/WebServices/PrintCouponandVoucherServices/InstoreClubcardReward.NGC/Web References/DoubleUpDirect/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Webservice.Tesco.com/Tes.UK.DoubleUpWS/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://Webservice.Tesco.com/Tes.UK.DoubleUpWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Webservice.Tesco.com/Tes.UK.DoubleUpWS/">
      <s:element name="DoubleUpRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoubleUpRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoubleUpRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoubleUpRequestSoapIn">
    <wsdl:part name="parameters" element="tns:DoubleUpRequest" />
  </wsdl:message>
  <wsdl:message name="DoubleUpRequestSoapOut">
    <wsdl:part name="parameters" element="tns:DoubleUpRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="DoubleUpRequest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method accepts XML message containing Smart Vouchers that needs to redeem against a double up voucher</wsdl:documentation>
      <wsdl:input message="tns:DoubleUpRequestSoapIn" />
      <wsdl:output message="tns:DoubleUpRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoubleUpRequest">
      <soap:operation soapAction="http://Webservice.Tesco.com/Tes.UK.DoubleUpWS/DoubleUpRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoubleUpRequest">
      <soap12:operation soapAction="http://Webservice.Tesco.com/Tes.UK.DoubleUpWS/DoubleUpRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://172.21.110.27/DupWS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://172.21.110.27/DupWS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>