Code-3/TestAutomation/Source/Tesco.MVC.TestFrameworks/Tesco.Framework.UITesting.Services/Service References/MyAccountCustomerService/MyAccountCustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyAccountCustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICustomerSvcsCoreSDA_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dvdcccoweb005uk.dev.global.tesco.org/Current/CustomerSvcCoreSDA/MyAccountCustomerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dvdcccoweb005uk.dev.global.tesco.org/Current/CustomerSvcCoreSDA/MyAccountCustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerSvcsCoreSDA_GetPersonalDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalDetails" />
  </wsdl:message>
  <wsdl:message name="ICustomerSvcsCoreSDA_GetPersonalDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerSvcsCoreSDA_CustomerMartiniIDGet_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerMartiniIDGet" />
  </wsdl:message>
  <wsdl:message name="ICustomerSvcsCoreSDA_CustomerMartiniIDGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerMartiniIDGetResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerSvcsCoreSDA">
    <wsdl:operation name="GetPersonalDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerSvcsCoreSDA/GetPersonalDetails" message="tns:ICustomerSvcsCoreSDA_GetPersonalDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerSvcsCoreSDA/GetPersonalDetailsResponse" message="tns:ICustomerSvcsCoreSDA_GetPersonalDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerMartiniIDGet">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerSvcsCoreSDA/CustomerMartiniIDGet" message="tns:ICustomerSvcsCoreSDA_CustomerMartiniIDGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerSvcsCoreSDA/CustomerMartiniIDGetResponse" message="tns:ICustomerSvcsCoreSDA_CustomerMartiniIDGet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICustomerSvcsCoreSDA" type="tns:ICustomerSvcsCoreSDA">
    <wsp:PolicyReference URI="#WSHttpBinding_ICustomerSvcsCoreSDA_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonalDetails">
      <soap12:operation soapAction="http://tempuri.org/ICustomerSvcsCoreSDA/GetPersonalDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerMartiniIDGet">
      <soap12:operation soapAction="http://tempuri.org/ICustomerSvcsCoreSDA/CustomerMartiniIDGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyAccountCustomerService">
    <wsdl:port name="WSHttpBinding_ICustomerSvcsCoreSDA" binding="tns:WSHttpBinding_ICustomerSvcsCoreSDA">
      <soap12:address location="http://dvdcccoweb005uk.dev.global.tesco.org/Current/CustomerSvcCoreSDA/MyAccountCustomerService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://dvdcccoweb005uk.dev.global.tesco.org/Current/CustomerSvcCoreSDA/MyAccountCustomerService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>