Code-2/PrintVoucherCouponKiosk/UI/PrintVouchersAtKiosk/Service References/CouponEnquiryService/CouponEnquiryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Tesco/Marketing/IT/ClubcardCoupon/EnquiryService/2012/01/" elementFormDefault="qualified" targetNamespace="http://Tesco/Marketing/IT/ClubcardCoupon/EnquiryService/2012/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.21.181.67/CouponEnquiryService/CouponEnquiryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tesco.Marketing.IT.ClubcardCoupon.DataContract" />
  <xs:element name="GetAvailableCoupons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tesco.Marketing.IT.ClubcardCoupon.DataContract" minOccurs="0" name="obj" nillable="true" type="q1:ArrayOfAvailableCouponRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableCouponsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tesco.Marketing.IT.ClubcardCoupon.DataContract" minOccurs="0" name="GetAvailableCouponsResult" nillable="true" type="q2:ArrayOfAvailableCoupons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedeemedCoupons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tesco.Marketing.IT.ClubcardCoupon.DataContract" minOccurs="0" name="obj" nillable="true" type="q3:ArrayOfRedeemedCouponRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedeemedCouponsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tesco.Marketing.IT.ClubcardCoupon.DataContract" minOccurs="0" name="GetRedeemedCouponsResult" nillable="true" type="q4:ArrayOfRedeemedCouponResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCouponInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tesco.Marketing.IT.ClubcardCoupon.DataContract" minOccurs="0" name="obj" nillable="true" type="q5:ArrayOfCouponInformationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCouponInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tesco.Marketing.IT.ClubcardCoupon.DataContract" minOccurs="0" name="GetCouponInformationResult" nillable="true" type="q6:ArrayOfCouponInformationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>