Code-1/CSC/CSC/CCODundeeApplication/Service References/CustomerService/CustomerService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://tesco.com/clubcardonline/datacontract/2010/01" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICustomerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tesco.com/clubcardonline/datacontract/2010/01" location="http://inlte7144.in.tesco.org/ClubcardService/CustomerService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_ICustomerService" type="i0:ICustomerService">
    <wsp:PolicyReference URI="#WSHttpBinding_ICustomerService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchUser">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/SearchUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerID">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetCustomerID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/AddCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardStatus">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetCardStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransactionsByOffer">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/TransactionsByOffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionReasonCode">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetTransactionReasonCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointsBalance">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetPointsBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPoints">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/AddPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointsSummary">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetPointsSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlternativeIds">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetAlternativeIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeLinkingDotcomAccounts">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/DeLinkingDotcomAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadPreferences">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/LoadPreferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Changepassword">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/Changepassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecretQuestion">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetSecretQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmailPreferences">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateEmailPreferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailPreferences">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetEmailPreferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSecretQns">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateSecretQns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmailAddresss">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateEmailAddresss" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerRewards">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetCustomerRewards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertPointsToCash">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/ConvertPointsToCash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointsExpiryDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetPointsExpiryDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRewardExpiryDate">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetRewardExpiryDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustUseMailStatus">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetCustUseMailStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUseMailStatus">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateUseMailStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCardStatus">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateCardStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClubcards">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetAllClubcards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePhoneNumber">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdatePhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePrimaryClubcardID">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdatePrimaryClubcardID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerTermsNConstionsStatus">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateCustomerTermsNConstionsStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerStatus">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetCustomerStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerIDSecurityDB">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetCustomerIDSecurityDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/ValidateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Resetpwd">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/Resetpwd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerTNCInfo">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetCustomerTNCInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/ValidateToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateToken">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/CreateToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpireToken">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/ExpireToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailET">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/SendEmailET" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoupons">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetCoupons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCoupons">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateCoupons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetGroupDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetCustomerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateCustomerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerPreferences">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetCustomerPreferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerPreferences">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateCustomerPreferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCustomer">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/SearchCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitles">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetTitles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetConfigDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateConfig">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintAtHomeDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/AddPrintAtHomeDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomerDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/InsertCustomerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecretQtns">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetSecretQtns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExistingCustomerDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetExistingCustomerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExistingCustomerDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateExistingCustomerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrimaryCard">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetPrimaryCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNoToAccount">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/AddPhoneNoToAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailValidation">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/EmailValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PhoneNoValidation">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/PhoneNoValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlternateIdValidation">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/AlternateIdValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustIdByEmailId">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetCustIdByEmailId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCardNo">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/InsertCardNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardNoByCustId">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetCardNoByCustId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionHistory">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetTransactionHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendCustomerDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetFriendCustomerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountOverviewDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetAccountOverviewDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAboutmeDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetAboutmeDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAboutMeDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateAboutMeDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDietaryPreferences">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateDietaryPreferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMyProfileDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/UpdateMyProfileDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyProfileDetails">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/GetMyProfileDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSupplementaryCard">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ICustomerService/AddSupplementaryCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="WSHttpBinding_ICustomerService" binding="tns:WSHttpBinding_ICustomerService">
      <soap12:address location="http://inlte7144.in.tesco.org/ClubcardService/CustomerService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://inlte7144.in.tesco.org/ClubcardService/CustomerService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>