Code-3/TestAutomation/Source/Tesco.MCA.TestFrameworks/Tesco.Framework.UITesting.Services/Service References/JoinLoyaltyService/JoinLoyaltyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccountCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dotcomCustomerID" type="xs:long" />
        <xs:element minOccurs="0" name="objectXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountCreateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendJoinConfirmationEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clubcardID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendJoinConfirmationEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendJoinConfirmationEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDuplicateCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDuplicateCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountDuplicateCheckResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>