Code-3/TestAutomation/Source/Tesco.MCA.TestFrameworks/Tesco.Framework.UITesting.Services/Service References/LocatorService/Locator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tesco.Com.Framework.Services.Locator.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tesco.Com.Framework.Services.Locator.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIsAddressBlockedEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IsAddressBlockedEntity" nillable="true" type="tns:IsAddressBlockedEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIsAddressBlockedEntity" nillable="true" type="tns:ArrayOfIsAddressBlockedEntity" />
  <xs:complexType name="IsAddressBlockedEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="buildingNameNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isBusinessAddress" type="xs:boolean" />
      <xs:element minOccurs="0" name="locality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="organisationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postalTown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="streetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subBuildingNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IsAddressBlockedEntity" nillable="true" type="tns:IsAddressBlockedEntity" />
</xs:schema>