Code-3/TestAutomation/Source/Tesco.MVC.TestFrameworks/Tesco.Framework.UITesting.Services/Service References/ActivationService/ActivationServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActivationServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IClubcardOnlineService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dvdcccoweb006uk.dev.global.tesco.org/ActivationServices/ActivationServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dvdcccoweb006uk.dev.global.tesco.org/ActivationServices/ActivationServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dvdcccoweb006uk.dev.global.tesco.org/ActivationServices/ActivationServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tesco.com.ClubcardOnline.WebService.Messages" />
      <xsd:import schemaLocation="http://dvdcccoweb006uk.dev.global.tesco.org/ActivationServices/ActivationServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Tesco.com.ClubcardOnline.Entities" />
      <xsd:import schemaLocation="http://dvdcccoweb006uk.dev.global.tesco.org/ActivationServices/ActivationServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://dvdcccoweb006uk.dev.global.tesco.org/ActivationServices/ActivationServices.svc?xsd=xsd5" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClubcardOnlineService_ValidateClubcardAccountExists_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateClubcardAccountExists" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_ValidateClubcardAccountExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateClubcardAccountExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_AccountFindByClubcardNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountFindByClubcardNumber" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_AccountFindByClubcardNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountFindByClubcardNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_AccountFindByClubcardNumberXmlParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountFindByClubcardNumberXmlParameter" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_AccountFindByClubcardNumberXmlParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountFindByClubcardNumberXmlParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_AccountDuplicateCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountDuplicateCheck" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_AccountDuplicateCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountDuplicateCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_AccountCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountCreate" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_AccountCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountCreateResponse" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_AccountLink_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountLink" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_AccountLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_IGHSAccountLink_InputMessage">
    <wsdl:part name="parameters" element="tns:IGHSAccountLink" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_IGHSAccountLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:IGHSAccountLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_AccountUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountUpdate" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_AccountUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_SendActivationEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendActivationEmail" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_SendActivationEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendActivationEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_SendJoinConfirmationEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendJoinConfirmationEmail" />
  </wsdl:message>
  <wsdl:message name="IClubcardOnlineService_SendJoinConfirmationEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendJoinConfirmationEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IClubcardOnlineService">
    <wsdl:operation name="ValidateClubcardAccountExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IClubcardOnlineService/ValidateClubcardAccountExists" message="tns:IClubcardOnlineService_ValidateClubcardAccountExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClubcardOnlineService/ValidateClubcardAccountExistsResponse" message="tns:IClubcardOnlineService_ValidateClubcardAccountExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountFindByClubcardNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IClubcardOnlineService/AccountFindByClubcardNumber" message="tns:IClubcardOnlineService_AccountFindByClubcardNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClubcardOnlineService/AccountFindByClubcardNumberResponse" message="tns:IClubcardOnlineService_AccountFindByClubcardNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountFindByClubcardNumberXmlParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IClubcardOnlineService/AccountFindByClubcardNumberXmlParameter" message="tns:IClubcardOnlineService_AccountFindByClubcardNumberXmlParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClubcardOnlineService/AccountFindByClubcardNumberXmlParameterResponse" message="tns:IClubcardOnlineService_AccountFindByClubcardNumberXmlParameter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountDuplicateCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IClubcardOnlineService/AccountDuplicateCheck" message="tns:IClubcardOnlineService_AccountDuplicateCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClubcardOnlineService/AccountDuplicateCheckResponse" message="tns:IClubcardOnlineService_AccountDuplicateCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/IClubcardOnlineService/AccountCreate" message="tns:IClubcardOnlineService_AccountCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClubcardOnlineService/AccountCreateResponse" message="tns:IClubcardOnlineService_AccountCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountLink">
      <wsdl:input wsaw:Action="http://tempuri.org/IClubcardOnlineService/AccountLink" message="tns:IClubcardOnlineService_AccountLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClubcardOnlineService/AccountLinkResponse" message="tns:IClubcardOnlineService_AccountLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IGHSAccountLink">
      <wsdl:input wsaw:Action="http://tempuri.org/IClubcardOnlineService/IGHSAccountLink" message="tns:IClubcardOnlineService_IGHSAccountLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClubcardOnlineService/IGHSAccountLinkResponse" message="tns:IClubcardOnlineService_IGHSAccountLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IClubcardOnlineService/AccountUpdate" message="tns:IClubcardOnlineService_AccountUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClubcardOnlineService/AccountUpdateResponse" message="tns:IClubcardOnlineService_AccountUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendActivationEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IClubcardOnlineService/SendActivationEmail" message="tns:IClubcardOnlineService_SendActivationEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClubcardOnlineService/SendActivationEmailResponse" message="tns:IClubcardOnlineService_SendActivationEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendJoinConfirmationEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IClubcardOnlineService/SendJoinConfirmationEmail" message="tns:IClubcardOnlineService_SendJoinConfirmationEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClubcardOnlineService/SendJoinConfirmationEmailResponse" message="tns:IClubcardOnlineService_SendJoinConfirmationEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IClubcardOnlineService" type="tns:IClubcardOnlineService">
    <wsp:PolicyReference URI="#WSHttpBinding_IClubcardOnlineService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateClubcardAccountExists">
      <soap12:operation soapAction="http://tempuri.org/IClubcardOnlineService/ValidateClubcardAccountExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountFindByClubcardNumber">
      <soap12:operation soapAction="http://tempuri.org/IClubcardOnlineService/AccountFindByClubcardNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountFindByClubcardNumberXmlParameter">
      <soap12:operation soapAction="http://tempuri.org/IClubcardOnlineService/AccountFindByClubcardNumberXmlParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDuplicateCheck">
      <soap12:operation soapAction="http://tempuri.org/IClubcardOnlineService/AccountDuplicateCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountCreate">
      <soap12:operation soapAction="http://tempuri.org/IClubcardOnlineService/AccountCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountLink">
      <soap12:operation soapAction="http://tempuri.org/IClubcardOnlineService/AccountLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IGHSAccountLink">
      <soap12:operation soapAction="http://tempuri.org/IClubcardOnlineService/IGHSAccountLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountUpdate">
      <soap12:operation soapAction="http://tempuri.org/IClubcardOnlineService/AccountUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendActivationEmail">
      <soap12:operation soapAction="http://tempuri.org/IClubcardOnlineService/SendActivationEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendJoinConfirmationEmail">
      <soap12:operation soapAction="http://tempuri.org/IClubcardOnlineService/SendJoinConfirmationEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivationServices">
    <wsdl:port name="WSHttpBinding_IClubcardOnlineService" binding="tns:WSHttpBinding_IClubcardOnlineService">
      <soap12:address location="http://dvdcccoweb006uk.dev.global.tesco.org/ActivationServices/ActivationServices.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://dvdcccoweb006uk.dev.global.tesco.org/ActivationServices/ActivationServices.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>