webAPI/APIServices-master/Source/API/Web.ServiceAdapter/Service References/JoinLoyaltyService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JoinLoyaltyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IJoinLoyaltyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJoinLoyaltyService_AccountCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountCreate" />
  </wsdl:message>
  <wsdl:message name="IJoinLoyaltyService_AccountCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountCreateResponse" />
  </wsdl:message>
  <wsdl:message name="IJoinLoyaltyService_SendJoinConfirmationEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendJoinConfirmationEmail" />
  </wsdl:message>
  <wsdl:message name="IJoinLoyaltyService_SendJoinConfirmationEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendJoinConfirmationEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IJoinLoyaltyService_AccountDuplicateCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountDuplicateCheck" />
  </wsdl:message>
  <wsdl:message name="IJoinLoyaltyService_AccountDuplicateCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountDuplicateCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="IJoinLoyaltyService">
    <wsdl:operation name="AccountCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/IJoinLoyaltyService/AccountCreate" message="tns:IJoinLoyaltyService_AccountCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJoinLoyaltyService/AccountCreateResponse" message="tns:IJoinLoyaltyService_AccountCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendJoinConfirmationEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IJoinLoyaltyService/SendJoinConfirmationEmail" message="tns:IJoinLoyaltyService_SendJoinConfirmationEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJoinLoyaltyService/SendJoinConfirmationEmailResponse" message="tns:IJoinLoyaltyService_SendJoinConfirmationEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountDuplicateCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IJoinLoyaltyService/AccountDuplicateCheck" message="tns:IJoinLoyaltyService_AccountDuplicateCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJoinLoyaltyService/AccountDuplicateCheckResponse" message="tns:IJoinLoyaltyService_AccountDuplicateCheck_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IJoinLoyaltyService" type="tns:IJoinLoyaltyService">
    <wsp:PolicyReference URI="#WSHttpBinding_IJoinLoyaltyService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountCreate">
      <soap12:operation soapAction="http://tempuri.org/IJoinLoyaltyService/AccountCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendJoinConfirmationEmail">
      <soap12:operation soapAction="http://tempuri.org/IJoinLoyaltyService/SendJoinConfirmationEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDuplicateCheck">
      <soap12:operation soapAction="http://tempuri.org/IJoinLoyaltyService/AccountDuplicateCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JoinLoyaltyService">
    <wsdl:port name="WSHttpBinding_IJoinLoyaltyService" binding="tns:WSHttpBinding_IJoinLoyaltyService">
      <soap12:address location="https://pvukprdccoapp04.ukroi.tesco.org/JoinService/JoinLoyaltyService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://pvukprdccoapp04.ukroi.tesco.org/JoinService/JoinLoyaltyService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>