Code-1/CSC/CSC/CCODundeeApplication/Service References/SmartVoucherServices/SmartVoucherServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tesco.com/clubcardonline/datacontract/2010/01" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmartVoucherServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISmartVoucherServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tesco.com/clubcardonline/datacontract/2010/01" location="http://plprgxnngcu07.pl.tesco-europe.com/SmartVoucherServices/SmartVoucherServices.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_ISmartVoucherServices" type="i0:ISmartVoucherServices">
    <wsp:PolicyReference URI="#WSHttpBinding_ISmartVoucherServices_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRewardDtls">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ISmartVoucherServices/GetRewardDtls" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnusedVoucherDtls">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ISmartVoucherServices/GetUnusedVoucherDtls" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsedVoucherDtls">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ISmartVoucherServices/GetUsedVoucherDtls" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVoucherValHH">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ISmartVoucherServices/GetVoucherValHH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRewardDtlsMiles">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ISmartVoucherServices/GetRewardDtlsMiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVoucherValCPS">
      <soap12:operation soapAction="http://tesco.com/clubcardonline/datacontract/2010/01/ISmartVoucherServices/GetVoucherValCPS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartVoucherServices">
    <wsdl:port name="WSHttpBinding_ISmartVoucherServices" binding="tns:WSHttpBinding_ISmartVoucherServices">
      <soap12:address location="http://plprgxnngcu07.pl.tesco-europe.com/SmartVoucherServices/SmartVoucherServices.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://plprgxnngcu07.pl.tesco-europe.com/SmartVoucherServices/SmartVoucherServices.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>