Code-3/TestAutomation/Source/Tesco.MVC.TestFrameworks/Tesco.Framework.UITesting.Services/Service References/ClubcardService/ClubcardService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClubcardService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClubcardService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetFuelBalanceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountIdType" type="tns:AccountIDType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFuelBalanceRequest" nillable="true" type="tns:GetFuelBalanceRequest" />
  <xs:simpleType name="AccountIDType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CustomerID" />
      <xs:enumeration value="ClubcardID" />
      <xs:enumeration value="HouseholdID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountIDType" nillable="true" type="tns:AccountIDType" />
  <xs:complexType name="GetFuelBalanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DaysLeftForFuelBalanceExpiry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetBalanceResponse" nillable="true" type="tns:GetBalanceResponse" />
      <xs:element minOccurs="0" name="IsAccountExist" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFuelBalanceResponse" nillable="true" type="tns:GetFuelBalanceResponse" />
  <xs:complexType name="GetBalanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Balance" nillable="true" type="tns:Balance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBalanceResponse" nillable="true" type="tns:GetBalanceResponse" />
  <xs:complexType name="Balance">
    <xs:sequence>
      <xs:element minOccurs="0" name="BalanceByExpiry" nillable="true" type="tns:ArrayOfBalanceByExpiry" />
      <xs:element minOccurs="0" name="ReservedBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalBalance" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Balance" nillable="true" type="tns:Balance" />
  <xs:complexType name="ArrayOfBalanceByExpiry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceByExpiry" nillable="true" type="tns:BalanceByExpiry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBalanceByExpiry" nillable="true" type="tns:ArrayOfBalanceByExpiry" />
  <xs:complexType name="BalanceByExpiry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Expiry" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BalanceByExpiry" nillable="true" type="tns:BalanceByExpiry" />
</xs:schema>