DB/WebServices/AppService/Business Layer/LoyaltyEntityServiceLayer/Service References/ProcessFD/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ProcessFDRequest" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProcessFDRequest_ApplicationCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplicationCheck" />
  </wsdl:message>
  <wsdl:message name="IProcessFDRequest_ApplicationCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplicationCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessFDRequest_ApplicationCheck_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:message name="IProcessFDRequest_BalanceEnquiry_InputMessage">
    <wsdl:part name="parameters" element="tns:BalanceEnquiry" />
  </wsdl:message>
  <wsdl:message name="IProcessFDRequest_BalanceEnquiry_OutputMessage">
    <wsdl:part name="parameters" element="tns:BalanceEnquiryResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessFDRequest_BalanceEnquiry_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:Exception" />
  </wsdl:message>
  <wsdl:message name="IProcessFDRequest_LoadRewards_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadRewards" />
  </wsdl:message>
  <wsdl:message name="IProcessFDRequest_LoadRewards_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadRewardsResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessFDRequest_LoadRewards_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:Exception" />
  </wsdl:message>
  <wsdl:message name="IProcessFDRequest_ReportLostStolen_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportLostStolen" />
  </wsdl:message>
  <wsdl:message name="IProcessFDRequest_ReportLostStolen_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportLostStolenResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessFDRequest_ReportLostStolen_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System" name="detail" element="q4:Exception" />
  </wsdl:message>
  <wsdl:portType name="IProcessFDRequest">
    <wsdl:operation name="ApplicationCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessFDRequest/ApplicationCheck" message="tns:IProcessFDRequest_ApplicationCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessFDRequest/ApplicationCheckResponse" message="tns:IProcessFDRequest_ApplicationCheck_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProcessFDRequest/ApplicationCheckExceptionFault" name="ExceptionFault" message="tns:IProcessFDRequest_ApplicationCheck_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="BalanceEnquiry">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessFDRequest/BalanceEnquiry" message="tns:IProcessFDRequest_BalanceEnquiry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessFDRequest/BalanceEnquiryResponse" message="tns:IProcessFDRequest_BalanceEnquiry_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProcessFDRequest/BalanceEnquiryExceptionFault" name="ExceptionFault" message="tns:IProcessFDRequest_BalanceEnquiry_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadRewards">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessFDRequest/LoadRewards" message="tns:IProcessFDRequest_LoadRewards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessFDRequest/LoadRewardsResponse" message="tns:IProcessFDRequest_LoadRewards_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProcessFDRequest/LoadRewardsExceptionFault" name="ExceptionFault" message="tns:IProcessFDRequest_LoadRewards_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportLostStolen">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessFDRequest/ReportLostStolen" message="tns:IProcessFDRequest_ReportLostStolen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessFDRequest/ReportLostStolenResponse" message="tns:IProcessFDRequest_ReportLostStolen_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProcessFDRequest/ReportLostStolenExceptionFault" name="ExceptionFault" message="tns:IProcessFDRequest_ReportLostStolen_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpEndPoint" type="tns:IProcessFDRequest">
    <wsp:PolicyReference URI="#NetTcpEndPoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ApplicationCheck">
      <soap12:operation soapAction="http://tempuri.org/IProcessFDRequest/ApplicationCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BalanceEnquiry">
      <soap12:operation soapAction="http://tempuri.org/IProcessFDRequest/BalanceEnquiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoadRewards">
      <soap12:operation soapAction="http://tempuri.org/IProcessFDRequest/LoadRewards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReportLostStolen">
      <soap12:operation soapAction="http://tempuri.org/IProcessFDRequest/ReportLostStolen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessFDRequest">
    <wsdl:port name="NetTcpEndPoint" binding="tns:NetTcpEndPoint">
      <soap12:address location="net.tcp://172.29.3.17:8010/NGCtoFDInterface/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://172.29.3.17:8010/NGCtoFDInterface/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>