Code-1/CSC/CSC/CCODundeeApplication/Service References/ClubcardService/012.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tesco.com/clubcardonline/datacontract/2010/01" elementFormDefault="qualified" targetNamespace="http://tesco.com/clubcardonline/datacontract/2010/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/ClubcardOnlineService.DataContracts" />
  <xs:element name="ViewCustomerHelplineInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:long" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewCustomerHelplineInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewCustomerHelplineInformationResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallReasonCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallReasonCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCallReasonCodeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsXmasClubMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsXmasClubMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsXmasClubMemberResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChristmasSaverSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRowCount" type="xs:int" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChristmasSaverSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChristmasSaverSummaryResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyAccountDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyAccountDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMyAccountDetailsResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNewOrderReplacementValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRowCount" type="xs:int" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNewOrderReplacementValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsNewOrderReplacementValidResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewOrderReplacement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="consumer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewOrderReplacementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewOrderReplacementResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseholdCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseholdCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHouseholdCustomersResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClubcards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClubcardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClubcardsResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClubcardsCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClubcardsCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClubcardsCustomerResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointsForAllCollPeriodByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRowCount" type="xs:int" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointsForAllCollPeriodByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPointsForAllCollPeriodByCustomerResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTxnDetailsByCustomerAndOfferID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRowCount" type="xs:int" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTxnDetailsByCustomerAndOfferIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTxnDetailsByCustomerAndOfferIDResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTxnDetailsByHouseholdCustomerAndOfferID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRowCount" type="xs:int" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTxnDetailsByHouseholdCustomerAndOfferIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTxnDetailsByHouseholdCustomerAndOfferIDResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointsSummaryInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRowCount" type="xs:int" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointsSummaryInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPointsSummaryInfoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerActivated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dotcomCustomerID" type="xs:long" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerActivatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckCustomerActivatedResult" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="activated" type="q1:char" />
        <xs:element minOccurs="0" name="customerID" type="xs:long" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IGHSCheckCustomerActivated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dotcomCustomerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IGHSCheckCustomerActivatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IGHSCheckCustomerActivatedResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="activated" type="q2:char" />
        <xs:element minOccurs="0" name="customerID" type="xs:long" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckHouseholdStatusOfCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:long" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckHouseholdStatusOfCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckHouseholdStatusOfCustomerResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrimaryCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCardXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrimaryCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPrimaryCardResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="objectId" type="xs:long" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCustomerStatusResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollBackCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollBackCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RollBackCustomerDetailsResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTokenCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTokenCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateTokenCustomerResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewCardRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRowCount" type="xs:int" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewCardRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewCardRangeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="objectID" type="xs:long" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCardRangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewCardType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRowCount" type="xs:int" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewCardTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewCardTypeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCardRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="objectID" type="xs:long" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCardRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCardRangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCardRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="objectID" type="xs:long" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCardRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCardRangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCardType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="objectID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCardTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCardTypeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="objectID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCardTypeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewStores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRowCount" type="xs:int" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewStoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewStoresResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewStoreRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRowCount" type="xs:int" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewStoreRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewStoreRegionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewStoreFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxRowCount" type="xs:int" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewStoreFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewStoreFormatResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="objectID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStoresResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="objectID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStoresResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeNumbers" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStoreNamesResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrintAtHomeDetailsXMLInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrintAtHomeDetailsXMLInputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPrintAtHomeDetailsXMLInputResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFuelSaverPointsBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClubcardOnlineService.DataContracts" minOccurs="0" name="objReq" nillable="true" type="q3:GetFuelBalanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFuelSaverPointsBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ClubcardOnlineService.DataContracts" minOccurs="0" name="GetFuelSaverPointsBalanceResult" nillable="true" type="q4:GetFuelBalanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeCards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MergeCardsResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objectID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHelplineInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionUserID" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHelplineInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHelplineInformationResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="objectID" type="xs:long" />
        <xs:element minOccurs="0" name="resultXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>