Code-1/CSC/CSC/CCODundeeApplication/Service References/ClubcardService/ClubcardOnlineService.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClubcardOnlineService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClubcardOnlineService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Tesco.StoredValue.Interfaces.Messages" />
  <xs:complexType name="GetFuelBalanceRequest">
    <xs:sequence>
      <xs:element name="AccountID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountIdType" type="tns:AccountIDType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFuelBalanceRequest" nillable="true" type="tns:GetFuelBalanceRequest" />
  <xs:simpleType name="AccountIDType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CustomerID" />
      <xs:enumeration value="ClubcardID" />
      <xs:enumeration value="HouseholdID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountIDType" nillable="true" type="tns:AccountIDType" />
  <xs:complexType name="GetFuelBalanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DaysLeftForFuelBalanceExpiry" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tesco.StoredValue.Interfaces.Messages" minOccurs="0" name="GetBalanceResponse" nillable="true" type="q1:GetBalanceResponse" />
      <xs:element minOccurs="0" name="IsAccountExist" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFuelBalanceResponse" nillable="true" type="tns:GetFuelBalanceResponse" />
</xs:schema>