DB/WebServices/AppService/Business Layer/LoyaltyEntityServiceLayer/Service References/FDRequest/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ApplicationCheck">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationCheckResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BalanceEnquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClubcardNumber" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BalanceEnquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BalanceEnquiryResult" type="xs:int" />
        <xs:element minOccurs="0" name="reponse" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadRewards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClubcardNumber" type="xs:long" />
        <xs:element minOccurs="0" name="AmountLoaded" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadRewardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadRewardsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportLostStolen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClubcardNumber" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportLostStolenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportLostStolenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>