Code-3/TestAutomation/Source/Tesco.MVC.TestFrameworks/Tesco.Framework.UITesting.Services/Service References/LocatorService/Locator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ops01mapp08.comops.uk.tesco.org:81/LOCATORSVC/Locator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tesco.Com.Framework.Services.Locator.Entities" />
  <xs:element name="FindAddressesByPostcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAddressesByPostcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindAddressesByPostcodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesByPostCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="houseNameNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesByPostCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressesByPostCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressListForPostcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressListForPostcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressListForPostcodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAreaDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGridRefByPostCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGridRefByPostCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGridRefByPostCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressExceptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="houseNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="houseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="streetName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressExceptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressExceptionsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressForLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="county" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addressLine" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressForLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressForLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesByPostCodeHouseNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tesco.Com.Framework.Services.Locator.Entities" minOccurs="0" name="isAddressBlocked" nillable="true" type="q1:ArrayOfIsAddressBlockedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesByPostCodeHouseNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressesByPostCodeHouseNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoCoordinateByPostCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoCoordinateByPostCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGeoCoordinateByPostCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAddressLite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="county" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addressLine" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAddressLiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindAddressLiteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>