Code-1/CSC/CSC/CCODundeeApplication/Service References/CouponEnquiryService/CouponEnquiryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://Tesco/Marketing/IT/ClubcardCoupon/EnquiryService/2012/01/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://Tesco/Marketing/IT/ClubcardCoupon/EnquiryService/2012/01/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Tesco/Marketing/IT/ClubcardCoupon/EnquiryService/2012/01/Imports">
      <xsd:import schemaLocation="http://172.29.7.150/CouponEnquiryService/CouponEnquiryService.svc?xsd=xsd0" namespace="http://Tesco/Marketing/IT/ClubcardCoupon/EnquiryService/2012/01/" />
      <xsd:import schemaLocation="http://172.29.7.150/CouponEnquiryService/CouponEnquiryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.29.7.150/CouponEnquiryService/CouponEnquiryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tesco.Marketing.IT.ClubcardCoupon.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClubcardCouponEnquiryService_GetAvailableCoupons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableCoupons" />
  </wsdl:message>
  <wsdl:message name="IClubcardCouponEnquiryService_GetAvailableCoupons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableCouponsResponse" />
  </wsdl:message>
  <wsdl:message name="IClubcardCouponEnquiryService_GetRedeemedCoupons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRedeemedCoupons" />
  </wsdl:message>
  <wsdl:message name="IClubcardCouponEnquiryService_GetRedeemedCoupons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRedeemedCouponsResponse" />
  </wsdl:message>
  <wsdl:message name="IClubcardCouponEnquiryService_GetCouponInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCouponInformation" />
  </wsdl:message>
  <wsdl:message name="IClubcardCouponEnquiryService_GetCouponInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCouponInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IClubcardCouponEnquiryService">
    <wsdl:operation name="GetAvailableCoupons">
      <wsdl:input wsaw:Action="http://Tesco/Marketing/IT/ClubcardCoupon/EnquiryService/2012/01/IClubcardCouponEnquiryService/GetAvailableCoupons" message="tns:IClubcardCouponEnquiryService_GetAvailableCoupons_InputMessage" />
      <wsdl:output wsaw:Action="http://Tesco/Marketing/IT/ClubcardCoupon/EnquiryService/2012/01/IClubcardCouponEnquiryService/GetAvailableCouponsResponse" message="tns:IClubcardCouponEnquiryService_GetAvailableCoupons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRedeemedCoupons">
      <wsdl:input wsaw:Action="http://Tesco/Marketing/IT/ClubcardCoupon/EnquiryService/2012/01/IClubcardCouponEnquiryService/GetRedeemedCoupons" message="tns:IClubcardCouponEnquiryService_GetRedeemedCoupons_InputMessage" />
      <wsdl:output wsaw:Action="http://Tesco/Marketing/IT/ClubcardCoupon/EnquiryService/2012/01/IClubcardCouponEnquiryService/GetRedeemedCouponsResponse" message="tns:IClubcardCouponEnquiryService_GetRedeemedCoupons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCouponInformation">
      <wsdl:input wsaw:Action="http://Tesco/Marketing/IT/ClubcardCoupon/EnquiryService/2012/01/IClubcardCouponEnquiryService/GetCouponInformation" message="tns:IClubcardCouponEnquiryService_GetCouponInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://Tesco/Marketing/IT/ClubcardCoupon/EnquiryService/2012/01/IClubcardCouponEnquiryService/GetCouponInformationResponse" message="tns:IClubcardCouponEnquiryService_GetCouponInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>