Code-1/CSC/CSC/CCODundeeApplication/Service References/CouponEnquiryService/CouponEnquiryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tesco.Marketing.IT.ClubcardCoupon.DataContract" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tesco.Marketing.IT.ClubcardCoupon.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.7.150/CouponEnquiryService/CouponEnquiryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfAvailableCouponRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvailableCouponRequest" nillable="true" type="tns:AvailableCouponRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvailableCouponRequest" nillable="true" type="tns:ArrayOfAvailableCouponRequest" />
  <xs:complexType name="AvailableCouponRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClubCardNumber" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="HouseHoldId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailableCouponRequest" nillable="true" type="tns:AvailableCouponRequest" />
  <xs:complexType name="ArrayOfAvailableCoupons">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvailableCoupons" nillable="true" type="tns:AvailableCoupons" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvailableCoupons" nillable="true" type="tns:ArrayOfAvailableCoupons" />
  <xs:complexType name="AvailableCoupons">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActiveCoupon" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CouponList" nillable="true" type="tns:ArrayOfCouponInformation" />
          <xs:element minOccurs="0" name="RequestedHouseHoldId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="TotalCoupon" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AvailableCoupons" nillable="true" type="tns:AvailableCoupons" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorLogID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorStatusCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
  <xs:complexType name="ArrayOfCouponInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouponInformation" nillable="true" type="tns:CouponInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCouponInformation" nillable="true" type="tns:ArrayOfCouponInformation" />
  <xs:complexType name="CouponInformation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CouponClass">
        <xs:sequence>
          <xs:element minOccurs="0" name="CouponIssuanceChannel" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="CouponStatusId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IssuanceDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IssuanceStore" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="RedemptionChannelCode" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="RedemptionDate" nillable="true" type="xs:dateTime" />
          <xs:element name="RedemptionStartDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RedemptionStore" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="SmartAlphaNumeric" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SmartBarcode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CouponInformation" nillable="true" type="tns:CouponInformation" />
  <xs:complexType name="CouponClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlphaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CouponDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CouponImageFull" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CouponImageThumbnail" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="EANBarcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsGenerateSmartCodes" type="xs:boolean" />
      <xs:element minOccurs="0" name="IssuanceChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuanceEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IssuanceStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ListCouponLineInfo" nillable="true" type="tns:ArrayOfCouponLineTextInfo" />
      <xs:element minOccurs="0" name="MaxRedemptionLimit" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="RedemptionChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RedemptionEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatementNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TillCouponTemplateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TriggerNumber" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CouponClass" nillable="true" type="tns:CouponClass" />
  <xs:complexType name="ArrayOfCouponLineTextInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouponLineTextInfo" nillable="true" type="tns:CouponLineTextInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCouponLineTextInfo" nillable="true" type="tns:ArrayOfCouponLineTextInfo" />
  <xs:complexType name="CouponLineTextInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Barcode" type="ser:char" />
      <xs:element minOccurs="0" name="Center" type="ser:char" />
      <xs:element minOccurs="0" name="CharacterWeigth" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="CharacterWidth" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Italic" type="ser:char" />
      <xs:element minOccurs="0" name="LineNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineUsed" type="ser:char" />
      <xs:element minOccurs="0" name="UnderLine" type="ser:char" />
      <xs:element minOccurs="0" name="WhiteOnBlack" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CouponLineTextInfo" nillable="true" type="tns:CouponLineTextInfo" />
  <xs:complexType name="ArrayOfRedeemedCouponRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RedeemedCouponRequest" nillable="true" type="tns:RedeemedCouponRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRedeemedCouponRequest" nillable="true" type="tns:ArrayOfRedeemedCouponRequest" />
  <xs:complexType name="RedeemedCouponRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AvailableCouponRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="RedemptionLength" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RedeemedCouponRequest" nillable="true" type="tns:RedeemedCouponRequest" />
  <xs:complexType name="ArrayOfRedeemedCouponResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RedeemedCouponResponse" nillable="true" type="tns:RedeemedCouponResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRedeemedCouponResponse" nillable="true" type="tns:ArrayOfRedeemedCouponResponse" />
  <xs:complexType name="RedeemedCouponResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CouponList" nillable="true" type="tns:ArrayOfCouponInformation" />
          <xs:element minOccurs="0" name="RequestedHouseHoldId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="TotalRedeemCoupon" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RedeemedCouponResponse" nillable="true" type="tns:RedeemedCouponResponse" />
  <xs:complexType name="ArrayOfCouponInformationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouponInformationRequest" nillable="true" type="tns:CouponInformationRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCouponInformationRequest" nillable="true" type="tns:ArrayOfCouponInformationRequest" />
  <xs:complexType name="CouponInformationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClubcardNumber" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="HouseholdId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SmartAlphaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SmartBarcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CouponInformationRequest" nillable="true" type="tns:CouponInformationRequest" />
  <xs:complexType name="ArrayOfCouponInformationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouponInformationResponse" nillable="true" type="tns:CouponInformationResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCouponInformationResponse" nillable="true" type="tns:ArrayOfCouponInformationResponse" />
  <xs:complexType name="CouponInformationResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CouponDetails" nillable="true" type="tns:CouponInformation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CouponInformationResponse" nillable="true" type="tns:CouponInformationResponse" />
</xs:schema>