Code-1/CSC/CSC/CCODundeeApplication/Service References/NGCReportingService/NGCReportingService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="NGCReportingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_INGCReportingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pvuktstfeapp03.tst01.tesco.org/ReportingService/NGCReportingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pvuktstfeapp03.tst01.tesco.org/ReportingService/NGCReportingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pvuktstfeapp03.tst01.tesco.org/ReportingService/NGCReportingService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INGCReportingService_GetRegistrationReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationReport" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_GetRegistrationReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationReportResponse" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_GetPromotionalReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPromotionalReport" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_GetPromotionalReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPromotionalReportResponse" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_ScheduleReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleReport" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_ScheduleReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleReportResponse" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_TerminateSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:TerminateSchedule" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_TerminateSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:TerminateScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_GetPointsEarnedReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPointsEarnedReport" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_GetPointsEarnedReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPointsEarnedReportResponse" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_PopulateWeekData_InputMessage">
    <wsdl:part name="parameters" element="tns:PopulateWeekData" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_PopulateWeekData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PopulateWeekDataResponse" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_PopulatePeriodData_InputMessage">
    <wsdl:part name="parameters" element="tns:PopulatePeriodData" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_PopulatePeriodData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PopulatePeriodDataResponse" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_GetCustomerLoadReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerLoadReport" />
  </wsdl:message>
  <wsdl:message name="INGCReportingService_GetCustomerLoadReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerLoadReportResponse" />
  </wsdl:message>
  <wsdl:portType name="INGCReportingService">
    <wsdl:operation name="GetRegistrationReport">
      <wsdl:input wsaw:Action="http://tempuri.org/INGCReportingService/GetRegistrationReport" message="tns:INGCReportingService_GetRegistrationReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INGCReportingService/GetRegistrationReportResponse" message="tns:INGCReportingService_GetRegistrationReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPromotionalReport">
      <wsdl:input wsaw:Action="http://tempuri.org/INGCReportingService/GetPromotionalReport" message="tns:INGCReportingService_GetPromotionalReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INGCReportingService/GetPromotionalReportResponse" message="tns:INGCReportingService_GetPromotionalReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScheduleReport">
      <wsdl:input wsaw:Action="http://tempuri.org/INGCReportingService/ScheduleReport" message="tns:INGCReportingService_ScheduleReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INGCReportingService/ScheduleReportResponse" message="tns:INGCReportingService_ScheduleReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TerminateSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/INGCReportingService/TerminateSchedule" message="tns:INGCReportingService_TerminateSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INGCReportingService/TerminateScheduleResponse" message="tns:INGCReportingService_TerminateSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPointsEarnedReport">
      <wsdl:input wsaw:Action="http://tempuri.org/INGCReportingService/GetPointsEarnedReport" message="tns:INGCReportingService_GetPointsEarnedReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INGCReportingService/GetPointsEarnedReportResponse" message="tns:INGCReportingService_GetPointsEarnedReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PopulateWeekData">
      <wsdl:input wsaw:Action="http://tempuri.org/INGCReportingService/PopulateWeekData" message="tns:INGCReportingService_PopulateWeekData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INGCReportingService/PopulateWeekDataResponse" message="tns:INGCReportingService_PopulateWeekData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PopulatePeriodData">
      <wsdl:input wsaw:Action="http://tempuri.org/INGCReportingService/PopulatePeriodData" message="tns:INGCReportingService_PopulatePeriodData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INGCReportingService/PopulatePeriodDataResponse" message="tns:INGCReportingService_PopulatePeriodData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerLoadReport">
      <wsdl:input wsaw:Action="http://tempuri.org/INGCReportingService/GetCustomerLoadReport" message="tns:INGCReportingService_GetCustomerLoadReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INGCReportingService/GetCustomerLoadReportResponse" message="tns:INGCReportingService_GetCustomerLoadReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_INGCReportingService" type="tns:INGCReportingService">
    <wsp:PolicyReference URI="#WSHttpBinding_INGCReportingService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRegistrationReport">
      <soap12:operation soapAction="http://tempuri.org/INGCReportingService/GetRegistrationReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromotionalReport">
      <soap12:operation soapAction="http://tempuri.org/INGCReportingService/GetPromotionalReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduleReport">
      <soap12:operation soapAction="http://tempuri.org/INGCReportingService/ScheduleReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminateSchedule">
      <soap12:operation soapAction="http://tempuri.org/INGCReportingService/TerminateSchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPointsEarnedReport">
      <soap12:operation soapAction="http://tempuri.org/INGCReportingService/GetPointsEarnedReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateWeekData">
      <soap12:operation soapAction="http://tempuri.org/INGCReportingService/PopulateWeekData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePeriodData">
      <soap12:operation soapAction="http://tempuri.org/INGCReportingService/PopulatePeriodData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerLoadReport">
      <soap12:operation soapAction="http://tempuri.org/INGCReportingService/GetCustomerLoadReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NGCReportingService">
    <wsdl:port name="WSHttpBinding_INGCReportingService" binding="tns:WSHttpBinding_INGCReportingService">
      <soap12:address location="http://pvuktstfeapp03.tst01.tesco.org/ReportingService/NGCReportingService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://pvuktstfeapp03.tst01.tesco.org/ReportingService/NGCReportingService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>