Code-1/CSC/CSC/CCODundeeApplication/Service References/NGCReportingService/NGCReportingService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetRegistrationReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enddate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="week" type="xs:int" />
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrationReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRegistrationReportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromotionalReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enddate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="week" type="xs:int" />
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromotionalReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPromotionalReportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduleReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScheduleXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduleReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScheduleReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScheduleXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TerminateScheduleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointsEarnedReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enddate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="weeknumber" type="xs:int" />
        <xs:element minOccurs="0" name="periodnumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointsEarnedReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPointsEarnedReportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateWeekData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateWeekDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PopulateWeekDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulatePeriodData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulatePeriodDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PopulatePeriodDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerLoadReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enddate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="week" type="xs:int" />
        <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerLoadReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerLoadReportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>